<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
        <title>Choose Your Food:</title>
    </head>
    <body>
        <<div class="container">
            <h1> {{ cuisine.getFlavor}}</h1>

            {% if restaurants is not empty %}
            <p>Here Are The Restaurants:</p>
            <ul>
                    {% for retaurant in restaurants %}
                        <li>{{ restaurant.getName }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <h4> Add a Restaurant:</h4>

        <form action="/restaurants" method='post'>
            <input id="cuisine_id" name="cuisine_id" type="hidden" value"{{ cuisine.getId }}">
            <label for='name'>Restaurant></label>
            <input id="name" name="name" type="text">
            <button type="submit">Add Restaurant</button>
        </form>

        <form action="/delete_restaurants" method="post">
                <button type="submit">Clear</button>


        </form>

        <p><a href="/">Home</a></p>
    </div>

    </body>
    </html>
